In [16]:
!mamba install pandas
%pip install seaborn

mambajs 0.19.13

Specs: xeus-python, numpy, matplotlib, pillow, ipywidgets>=8.1.6, ipyleaflet, scipy, pandas
Channels: emscripten-forge, conda-forge

Solving environment...
Solving took 0.6692999999523163 seconds
All requested packages already installed.
mambajs 0.19.13

Process pip requirements ...

Requirement seaborn already satisfied.

In [2]:
import pandas as pd
import numpy as np

In [26]:
#Učitati skup podaci.csv
data = pd.read_csv('24-bank.csv')

In [29]:
# Ispisati prvih 5 instanci
data.head()

,STAROST,POSAO,BRACNO_STANJE,OBRAZOVANJE,SREDNJE_GOD_STANJE_EUR,STAMBENI_KREDIT,LICNI_KREDIT,KONTAKT,DUZINA_RAZGOVORA_SEC,BROJ_RAZGOVORA,OROCENA_STEDNJA
0,30,nezaposlen,u_braku,osnevne,1787,ne,ne,mobilni,79,1,ne
1,33,usluge,u_braku,srednje,4789,da,da,mobilni,220,1,ne
2,35,rukovodstvo,samac,visoko,1350,da,ne,mobilni,185,1,ne
3,30,rukovodstvo,u_braku,visoko,1476,da,da,nepoznato,199,4,ne
4,59,manuelni_poslovi,u_braku,srednje,0,da,ne,nepoznato,226,1,ne

In [30]:
# Eliminisati instance koje imaju negativnu vrednost u atributu srednje_god_stanje_eur.
data.replace(data['SREDNJE_GOD_STANJE_EUR']<0, np.nan, inplace=True)
data.dropna(inplace=True)

In [31]:
# Vrednosti atributa starost podeliti u 5 kategorija jednake širine. HINT: Koristiti pd.cut(....)
# labels je argument koji određuje kako će se zvati kategorije (intervali) koje dobiješ posle diskretizacije
data['STAROST'] = pd.cut(data['STAROST'], bins=5, labels=[1, 2, 3, 4, 5])
data['STAROST']

0       1
1       2
2       2
3       1
4       3
       ..
4516    2
4517    3
4518    3
4519    1
4520    2
Name: STAROST, Length: 4521, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [33]:
# Promeniti kategorije atributa bracno_stanje u u_braku i nije_u_braku.
#unique_values = data['BRACNO_STANJE'].unique()
#data['BRACNO_STANJE'].replace(unique_values[1:], 'nije_u_braku', inplace=True)

#ILI
data['BRACNO_STANJE'] = data['BRACNO_STANJE'].apply(
    lambda x: 'u_braku' if x == 'u_braku' else 'nije_u_braku'
)

data['BRACNO_STANJE']

0            u_braku
1            u_braku
2       nije_u_braku
3            u_braku
4            u_braku
            ...
4516         u_braku
4517         u_braku
4518         u_braku
4519         u_braku
4520    nije_u_braku
Name: BRACNO_STANJE, Length: 4521, dtype: str

In [34]:
# Standardizovati numeričke atribute
def z_score(X):
    return (X - X.mean()) / X.std()

numericke_kolone = data.select_dtypes(include='number').columns

data[numericke_kolone] = data[numericke_kolone].apply(z_score)

data

,STAROST,POSAO,BRACNO_STANJE,OBRAZOVANJE,SREDNJE_GOD_STANJE_EUR,STAMBENI_KREDIT,LICNI_KREDIT,KONTAKT,DUZINA_RAZGOVORA_SEC,BROJ_RAZGOVORA,OROCENA_STEDNJA
0,1,nezaposlen,u_braku,osnevne,0.121058,ne,ne,mobilni,-0.711782,-0.576766,ne
1,2,usluge,u_braku,srednje,1.118521,da,da,mobilni,-0.169175,-0.576766,ne
2,2,rukovodstvo,nije_u_braku,visoko,-0.024142,da,ne,mobilni,-0.303865,-0.576766,ne
3,1,rukovodstvo,u_braku,visoko,0.017724,da,da,nepoznato,-0.249989,0.387925,ne
4,3,manuelni_poslovi,u_braku,srednje,-0.472701,da,ne,nepoznato,-0.146086,-0.576766,ne
...,...,...,...,...,...,...,...,...,...,...,...
4516,2,usluge,u_braku,srednje,-0.583345,da,ne,mobilni,0.250287,0.709488,ne
4517,3,samozaposlen,u_braku,visoko,-1.573497,da,da,nepoznato,-0.427010,-0.576766,ne
4518,3,tehnicar,u_braku,srednje,-0.374682,ne,ne,mobilni,-0.434706,2.638868,ne
4519,1,manuelni_poslovi,u_braku,srednje,-0.094914,ne,ne,mobilni,-0.519368,0.387925,ne
4520,2,preduzetnik,nije_u_braku,visoko,-0.095247,da,da,mobilni,0.311859,-0.255202,ne